body.home {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/7e/35/13/7e3513fb4484ac97d6f726123fd9e1ff.jpg'); /* Путь к изображению */
    background-size: cover; 
    background-position:relative; 
    background-repeat: no-repeat; 
    color: #000000; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white; 
    color: #000000; 
}
header {
    position: relative;
    z-index: 10;
    background-color: #08232e; 
    color: white; 
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 15px;
}
nav a {
    color: white; 
    text-decoration: none;
}
nav a:hover {
    color: #0d0086; 
}
main {
    padding: 20px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    
}
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 2px 2px 5px #000;
    background-color: #cdd86dcb; 
    border-radius: 15px;
}
footer {
    margin-top: 20px; 
    background-color: #08232e; 
    padding: 20px; 
}
.footer-content {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}
.contact-info, .navigation {
    width: 100%; 
    text-align: center;
}
h3 {
    margin: 0 0 10px; 
}
ul {
    list-style-type: none; 
    padding: 0; 
}
ul li {
    margin: 5px 0; 
}
ul li a {
    text-decoration: none; 
    color: #000; 
}
ul li a:hover {
    text-decoration: underline; 
}
@media (max-width: 768px) {
    .card {
        flex: 1 1 100%;
    }
}
@media (min-width: 768px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .contact-info, .navigation {
        width: 45%;
    }
}
@media print {
    body {
        color: black;
        background: white;
    }
}
.about-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 15px; 
    margin-top: 10px; 
}
